* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
#main {
  height: 100%;
  width: 100%;

  background-image: url("https://images.unsplash.com/photo-1506508618093-6fe5ce3def4c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
  background-size: cover;
  background-position: center;
  border: 1px transparent white;
}
.squares {
  height: 170px;
  width: 170px;
  background-image: url("https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: 200%;
  border: 3px solid black;
  border-radius: 10px;
  margin: 3px;
}
#a {
  display: flex;
}
#b {
  display: flex;
}
#c {
  display: flex;
}
#cover {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(165, 42, 42, 0);
  border-radius: 10px;
}
#h2 {
  position: absolute;
  font-size: 80px;
  font-family: Gilroy;
  left: 40%;
  top: 2%;
  display: none;
}
.squares h1 {
  margin-top: 3px;
  margin-left: 30px;
  font-size: 150px;
  font-family: Gilroy;
  color: #000000;
}
#main > h1 {
  font-size: 30px;
}
#head1 {
  position: absolute;
  left: 190px;
  top: 3%;
  font-size: 80px;
  font-family: Gilroy;
  color: black;
}
#head2 {
  position: absolute;
  font-size: 80px;
  font-family: Gilroy;
  color: black;
  top: 3%;
  left: 60%;
}
#square1 {
  height: 170px;
  width: 170px;
  background-color: rgb(168, 50, 50);
  position: absolute;
  top: 0.6%;
  left: 0.4%;
  border-radius: 10px;
  z-index: -1;
}
#square2 {
  height: 170px;
  width: 170px;
  background-color: rgb(168, 50, 50);
  position: absolute;
  top: 0.6%;
  left: 34%;
  border-radius: 10px;
  z-index: -1;
}
#square3 {
  height: 170px;
  width: 170px;
  background-color: rgb(168, 50, 50);
  position: absolute;
  top: 0.6%;
  left: 67%;
  border-radius: 10px;
  z-index: -1;
}

#square4 {
  height: 170px;
  width: 170px;
  background-color: rgb(168, 50, 50);
  position: absolute;
  top: 33.8%;
  left: 67%;
  border-radius: 10px;
  z-index: -1;
}
#square5 {
  height: 170px;
  width: 170px;
  background-color: rgb(168, 50, 50);
  position: absolute;
  top: 33.8%;
  left: 34%;
  border-radius: 10px;
  z-index: -1;
}
#square6 {
  height: 170px;
  width: 170px;
  background-color: rgb(168, 50, 50);
  position: absolute;
  top: 33.8%;
  left: 0.4%;
  border-radius: 10px;
  z-index: -1;
}

#square7 {
  height: 170px;
  width: 170px;
  background-color: rgb(168, 50, 50);
  position: absolute;
  top: 67.3%;
  left: 0.4%;
  border-radius: 10px;
  z-index: -1;
}
#square8 {
  height: 170px;
  width: 170px;
  background-color: rgb(168, 50, 50);
  position: absolute;
  top: 67.3%;
  left: 34%;
  border-radius: 10px;
  z-index: -1;
}
#square9 {
  height: 170px;
  width: 170px;
  background-color: rgb(168, 50, 50);
  position: absolute;
  top: 67.3%;
  left: 67%;
  border-radius: 10px;
  z-index: -1;
}
